ul.menu{
  list-style: none;
  
  width: 700px;

  margin-left: 0px;
}

ul.menu button{
  font-size: 14px;
  float: left;
  width: 80px;
  height: 50px;
  border: 1px solid #d7dce5;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #ffff;
  border-radius: 25px;
  display : block;
  
}

.sub_top_wrap.tag_list .sub_title_tag {
  display: inline-block;
  margin-top: 60px;
  padding: 8px 0;
  width: 902px;
  height: 56px;
  box-sizing: border-box;
  color: #373f57;
  font-size: 36px;
  letter-spacing: -5px;
  line-height: 56px;
  vertical-align: top;

}

.company_honest_qna .contents_container .list_num_tit {
  color: #373f57;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 36px;
}

.company_honest_qna .contents_container .list_num_tit.sub {
  font-weight: normal;
}



select.option_select_category {
  padding: 2px 36px 4px 12px;
  width: 100%;
  min-width: 80px;
  height: 40px;
  border: 1px solid #d7dce5;
  border-radius: 4px;
  box-sizing: border-box;
  color: #5c667b;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  background: #fff url(//www.saraminimage.co.kr/sri/person/bg/bg_select_default.png) no-repeat right 12px top 50%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

}
div.menu_category{
  padding: 2px 36px 4px 12px;
  width: 100px;
  min-width: 80px;
  height: 40px;
  border: 1px solid #d7dce5;
  border-radius: 4px;
  box-sizing: border-box;
  color: #5c667b;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  background: #fff  no-repeat right 12px top 50%;
  cursor: pointer;
}

.qna_write_selection {
  display: flex;
  font-size: 24px;
  letter-spacing: -2px;
  line-height: 24px;
  /* align-items: center; */
  color: #5c667b;
  align-items: baseline
}
   
.qna_subject_input {
  display: block;
  padding: 13px 24px;
  width: 100%;
  height: 48px;
  border: 1px solid #d7dce5;
  border-radius: 4px;
  box-sizing: border-box;
  color: #373f57;
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 22px;
}

/* div.editor_wrap {
  position: relative;
  padding: 20px 24px;
  width: 100%;
  height: 162px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #373f57;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 24px;
}
    */
    textarea {
  
    position: relative;
    padding: 20px 24px;
    width: 100%;
    height: 300px;
    border: 1px solid #d7dce5;
    border-radius: 4px;
    box-sizing: border-box;
    color: #373f57;
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 24px;
}

.communityheader {padding:10px 0;font-size:20px;background-color:#3d414c;text-align:center;color:#fff}
.communityfooter {padding:10px 0;border-top:1px solid #d9d9d9;font-size:11px;font-size:12px;background-color:#f1f1f1;text-align:center;color:#888}


ul{
  list-style:none;
  }

  /* 로고 & 검색 래퍼 */
  div.header-logo-search-wrap{
    display: flex;
    align-items: center;
    left: 40px;
    justify-content: space-between
  }

.communityheader {
  font-size: 20px;
  background-color: #ffff;
  /* text-align: center; */
  color: #fff;
}

 

  nav.nav{
    /* justify-content: left; */
    /* position: relative; */
    /* left: 10px; */
  }

  div.list_total{
    font-size: 24px;
    content: space-around;
  }
  
  .storyMainPersonal-nick {
    position: relative;
    width: 160px;
    height: 90px;
    padding: 20px 20px 20px 120px;
    background-color: #ffe02e;
}

img#divProfile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.storyMainPersonal-nick-nick {
  margin: 25px 0 5px;
  font-size: 16px;
  color: #222;
}

.storyMainPersonal-nick-nick>.nickReg {
  display: inline-block;
  width: 66px;
  height: 17px;
  margin-left: 8px;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  vertical-align: top;
  color: #222;
  border: 1px solid #a98b03;
}

.storyMainPersonal-count.li {
  float: left;
  box-sizing: border-box;
  width: 33.33%;
  height: 55px;
  padding: 8px 0 0;
  text-align: center;
  color: #a3a3a3;
  border-left: 1px solid #505050;
}

div.btn-group{
  padding: 5px;
}


.StoryPointHelp {
  float: left;
  box-sizing: border-box;
  width: 33.33%;
  height: 55px;
  padding: 8px 0 0;
  text-align: center;
  color: #a3a3a3;
  border-left: 1px solid #505050;
}
  
  
div.my_area {
  padding: 20px 40px 20px 40px;
  width: 350px;
  height: 300px;
  border: 1px solid #edeef0;
  border-radius: 12px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: none;
}

div.red{
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: none;
  text-align: center;
  line-height: 60px;
  color:  #4876ef;
  /* margin-bottom: 30px; */

  

}
  
strong.cate_total{
  font-size: 30px;
  content: space-around;
}


a.link_go{
  color: #444;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  position: relative;
  padding-left: 30px;
  margin: 10px;
}

div.total_button button{
  overflow: hidden;
  padding: 0 24px;
  height: 48px;
  width: 100px;
  border: 1px solid #d7dce5;
  border-radius: 8px;
  color: #373f57;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  margin-right: 30px;
  margin-top: 20px;
}

div.cate_total{
  margin-top: 20px;
}

div.total_button2 button{
  overflow: hidden;
  padding: 0 24px;
  height: 48px;
  width: 100px;
  border: 1px solid #d7dce5;
  border-radius: 20px;
  color: #373f57;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  margin-right: 30px;
}

#sri_header {
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-width: 1280px;
  height: 153px;
  border-bottom: 1px solid #4876ef;
  box-sizing: border-box;
  background: #fff;
}

a.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color:#373f57;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

div.list_num_tit.sub{
  color: #373f57;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: normal;
}
/* 
.inpChk .lbl {
  padding-left: 29px;
  height: 22px;
  box-sizing: border-box;
  color: #444;
  font-size: 13px;
  letter-spacing: -1px;
  line-height: 22px;
  background: url(//www.saraminimage.co.kr/sri/common/ico/sri_ico_checkbox03.png) 0 2px no-repeat;
}
.icoChk_outline {
  display: inline-block;
  margin-right: 8px;
  padding: 7px 8px 0 0;
  height: 40px;
  border: 1px solid #d7dce5;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: top;
} */

div.check{
  border: 1px solid #d7dce5;
  display: inline-block;
  height: 40px;
  padding: 7px 7px 7px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  margin: 0px 10px;
  color: #5c667b;
}

div.container-fluid.one{
display: flex;
justify-content: flex-end;
/* align-items: flex-end; */
/* text-align: right; */
}

nav.navbar.navber-light{
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

div.buttonmain{
  width: 300px;
  margin: auto;
  display: block;
}

div.my_areapage {
  margin:auto;
  padding: 10px 30px 20px ;
  width: 1000px;
  height: 700px;
  border: 1px solid #edeef0;
  border-radius: 12px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: none;
}

/* .qna_list_wrap .qna_list li {
  position: relative;
  padding: 38px 32px;
  border-bottom: 1px solid #d7dce5;
} */

div.nomal{
  display: flex;
  justify-content: center;
}

/* // */

.category-set {
  margin-top: 3px;
}

.category-child {
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  border: 1px solid grey;
  background-color: #fff;
  width: 130px;
  height: 50px;
  border-radius: 50px;
}

.category-child:hover {
  font-weight: bolder;
  border-color: black;
}

.selected {
  border-style: none;
  font-weight: 800;
  background: rgb(12, 77, 162);
  color: #fff;
}

.fqa-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-list {
  width: 80%;
}

.faq-card {
  display: flex;
  margin-top: 10px;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 1px solid black;
  border-radius: 20px;
  flex-direction: column;
}

.faq-card-title {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.faq-card-answer {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
  border: 0px solid rgba(225,228,230,.5);
  border-top-width: 1px;
}

.faq-card-none {
  display: none;
}

.question-mark {
  color: rgb(12, 77, 162);
  font-size: 20px;
  margin-right: 10px;
}

.answer-mark {
  color: skyblue;
  font-size: 20px;
  margin-right: 10px;
}

.wrap_title{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px 0px 20px;
 color: #5c667b;
 text-decoration: none;

}
a{
  text-decoration: none;
  color: #5c667b;

}

span.txt{
  /* margin:100px; */
  outline: 1px solid ffff;
  display: block;
  color: ffff;
  width: 330px;
  font-size: 16px;
  font-weight: lighter !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

span.txt2{
  /* margin:100px; */
  outline: 1px solid ffff;
  display: block;
  color: ffff;
  width: 670px;
  font-size: 16px;
  font-weight: lighter !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span.txt3{
  /* margin:100px; */
  outline: 1px solid ffff;
  display: block;
  color: ffff;
  width: 330px;
  font-size: 16px;
  font-weight: lighter !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* text-align: right; */
}

span.txt11{
  /* margin:100px; */
  outline: 1px solid ffff;
  display: block;
  color: ffff;
  width: 500px;
  height: 20px;
  font-size: 16px;
  font-weight: lighter !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

span.txt12{
  /* margin:100px; */
  outline: 1px solid ffff;
  display: block;
  color: ffff;
  width: 300px;
  font-size: 16px;
  font-weight: lighter !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

span.txt13{
  /* margin:100px; */
  outline: 1px solid ffff;
  display: block;
  color: ffff;
  width: 330px;
  font-size: 16px;
  font-weight: lighter !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* text-align: right; */
}
/* tbody.blockstyle{
  
  display: block;
  color: ffff;
   width: 1000000px;
  height: 100000px; 
  font-size: 16px;
  font-weight: lighter !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */


table.type04 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  /* margin : 30px; */
  /* margin: 50px, 0px, 20px ,0px; */
  width: 100%;
  color: #373f57;
}

table.type04 td {
  width: 100%;
  padding: 10px 10px 10px 0px;
  vertical-align: top;
  /* border-bottom: 1px solid #ccc; */
  color: #373f57;
}

.pagination {
  display: flex;
  justify-content: center
}

select.category{
  color: #5c667b;

}

.button{
  cursor:pointer;
  transition: transform 300ms ease;
  font-size: 30px;
}
.red{
color:red;
}
h3{
height: 20px;
width: 20px;
}
.button:hover{
  transform: scale(1.1);
}

/* #sri_lnb .navi_depth3 ul li a>span {
  display: block;
  padding: 9px 19px;
  border: 1px solid #d7dce5;
  border-radius: 20px;
  color: #5c667b;
  font-size: 14px;
  line-height: 20px;
}  a태그 버튼 만들기*/

.detail_wrap .btn_back_list {
  display: block;
  position: relative;
  padding: 5px 0 7px 36px;
  width: 120px;
  height: 32px;
  border: 1px solid #d7dce5;
  border-radius: 4px;
  box-sizing: border-box;
  color: #5c667b;
  font-size: 13px;
  letter-spacing: -1px;
  line-height: 20px;
  text-align: left;
}